
$loadingBg : rgba(255,255,255,.6);
$circelBig : 50px;
$circelSmall : 12px;
$circelColor : rgb(0, 188, 212);

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $loadingBg;
    z-index: 1000000000000000;
    #loading-main {
        position: absolute;
        width: $circelBig;
        height: $circelBig;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        .spinner {
            margin: 0 auto;
            width: 50px;
            height: 50px;
            position: relative;
            .spinner-container {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .container1 > div, .container2 > div, .container3 > div {
            width: $circelSmall;
            height: $circelSmall;
            background-color: $circelColor;

            border-radius: 100%;
            position: absolute;
            -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
            animation: bouncedelay 1.2s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .container2 {
            transform: rotateZ(45deg);

            .circle1 {
                animation-delay: -1.1s;
            }

            .circle2 {
                animation-delay: -0.8s;
            }

            .circle3 {
                animation-delay: -0.5s;
            }

            .circle4 {
                animation-delay: -0.2s;
            }
        }

        .container3 {
            transform: rotateZ(90deg);
            .circle1 {
                animation-delay: -1.0s;
            }
            .circle2 {
                animation-delay: -0.7s;
            }
            .circle3 {
                animation-delay: -0.4s;
            }
            .circle4 {
                animation-delay: -0.1s;
            }
        }

        .circle1 { top: 0; left: 0; }
        .circle2 { top: 0; right: 0; }
        .circle3 { right: 0; bottom: 0; }
        .circle4 { left: 0; bottom: 0; }


        .container1 {
            .circle2 {
                animation-delay: -0.9s;
            }
            .circle3 {
                animation-delay: -0.6s;
            }
            .circle4 {
                animation-delay: -0.3s;
            }
        }

        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
            } 40% {
                  transform: scale(1.0);
              }
        }
    }
}
